nav {
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

footer {
    display: flex;

}
